@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply bg-warm-white
    }

    .btn {
        @apply bg-sage-green m-2 p-1 px-2 border border-black
    }

    .hero {
        @apply bg-taupe w-screen p-2 flex justify-center shadow-md
    }

    .hero-btn {
        @apply w-1/3 m-2 p-1
    }

    .section-header {
        @apply inline-block w-fit text-deep-green text-3xl border-b border-sage-green
    }

    .subsection-header {
        @apply inline-block w-fit text-deep-green text-2xl border-b border-sage-green
    }
    
    .link-sect-btn {
        @apply bg-sage-green  border border-black my-5 shadow-lg text-left px-2 py-1 text-lg
    }

    .link-sect-btn p {
        @apply text-sm py-2
    }

    .input-field {
        @apply border-b border-black mb-2 bg-warm-white shadow-md pl-2 w-full
    }

    .input-label {
        @apply font-bold
    }

    .alpha-btn {
        @apply border-b mx-2 text-red-accent
    }

    .card-label {
        @apply text-deep-green
    }

    .card-text {
        @apply text-dark-grey
    }

    .cocktail-card {
        @apply flex flex-col border shadow-md bg-sage-green border-black p-2 rounded flex-[0_1_48%] my-2
    }
}
